body {
	background-color: rgb(73,73,73);
	margin: 4%;
}

@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-webkit-keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}

@mixin text{
	font-family: "Arial", sans-serif;
	color: white;
}

h1 {
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	animation: fadein 1s;
	animation-fill-mode: both;
}

.math{
	text-align: center;
	background-color: rgb(66,66,66);
	color:white;
	animation: fadein 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
}

p {
	font-family: "Arial", sans-serif;
	color: white;
	background-color: rgb(100,100,100);
       	text-align: left;	
	animation: fadein 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
}

img {
	animation: fadein 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

a:link{
	color: rgb(172,132,172);
}

a:visited{
	color: rgb(167,136,167);
}

a:hover{}

a:active{}
