body {
	background-color: rgb(73,73,73);
	margin: 4%;
}

a{
	color: white;
}

ul{
	z-index:1;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 20%;
  	background-color: rgb(66,66,66);
  	height: 87.5%; /* Full height */
 	position: fixed; /* Make it stick, even on scroll */
 	overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li{
	text-align:center;
	font-family: "Arial", sans-serif;
	color: white;
	font-size: 150%;
}

li a{
	display: block;
	color: white;
}

li a.active{
	background-color:rgb(90,90,90);
	color: white;
}

li a:hover:not(.active) {
	background-color: rgb(73,73,73);
}

@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
@-webkit-keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}

h1 {
	font-family: "Arial", sans-serif;
	color: white;
	text-align: center;
	animation: fadein 1s;
	animation-fill-mode: both;
}

h2 {
	font-family: "Arial", sans-serif;
	color: white;
	margin-left:25%;
	text-align:left;
	animation: fadein 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
}
.math{
	padding:1%;
	font-family: monospace;
	margin-left:25%;
	text-align: center;
	background-color: rgb(66,66,66);
	color:white;
	animation: fadein 1s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
}
p {
	padding:1%;
	margin-left:25%;
	font-family: "Arial", sans-serif;
	color: white;
	background-color: rgb(90,90,90);
       	text-align: left;	
	animation: fadein 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
}

img {
	margin-left:25%;
	animation: fadein 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	max-width: 75%;
	max-height: 100vh;
}
